
Search: <input type="text" placeholder="Pronadji smestaj po nazivu" ng-model="searchText">
<br>
<div class="row row-cols-1 row-cols-md-3" ng-controller="loginCtrl as lctrl">
        <div style="width: 33%;" class="card" ng-repeat="s in sctrl.smestaji | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize | filter:searchText">
          <img src="https://m-living.vecernji.hr/media/img/6c/be/b35976317a832d4d5506.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{s["naziv"]}}</h5>
            <p class="card-text" ng-if="s.kategorija_id == '2'">Dvokrevetna</p>
            <p class="card-text" ng-if="s.kategorija_id == '1'">Jednokrevetna</p>
            <p class="card-text"><a ui-sref="rezervacija({id: s.id})">Klik</a> za detaljan opis sobe</p>
            <button ng-if="lctrl.statusAdmina == 'ne'" class="btn btn-primary" ui-sref="rezervacija({id: s.id})">Rezervisi</button>
            <button ng-if="lctrl.statusAdmina == 'da'" class="btn btn-danger" ng-click="sctrl.ukloniSmestaj(s.id)">Obrisi</button>
            <button ng-if="lctrl.statusAdmina == 'da'" class="btn btn-dark" ui-sref="smestaj({id: s['id']})">Izmeni</button>
        </div>
        </div>
    </div>
        <pagination total-items="sctrl.smestaji.length" ng-model="currentPage" items-per-page="pageSize"></pagination>

<!-- <body>
    <h1>Todos</h1>
    <h4>{{todos.length}} total</h4>
    <div class="row row-cols-1 row-cols-md-3" ng-controller="loginCtrl as lctrl">
        <div style="width: 33%;" class="card" ng-repeat="s in sctrl.smestaji">
          <img src="https://m-living.vecernji.hr/media/img/6c/be/b35976317a832d4d5506.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{s["naziv"]}}</h5>
            <p class="card-text" ng-if="s.kategorija_id == '2'">Dvokrevetna</p>
            <p class="card-text" ng-if="s.kategorija_id == '1'">Jednokrevetna</p>
            <p class="card-text"><a ui-sref="rezervacija({id: s.id})">Klik</a> za detaljan opis sobe</p>
            <button ng-if="lctrl.statusAdmina == 'ne'" class="btn btn-primary" ui-sref="rezervacija({id: s.id})">Rezervisi</button>
            <button ng-if="lctrl.statusAdmina == 'da'" class="btn btn-danger" ng-click="sctrl.ukloniSmestaj(s.id)">Obrisi</button>
            <button ng-if="lctrl.statusAdmina == 'da'" class="btn btn-dark" ui-sref="smestaj({id: s['id']})">Izmeni</button>
        </div>
        </div>
    <pagination ng-model="currentPage" total-items="todos.length" max-size="maxSize" boundary-links="true">
    </pagination>
</body>
</html> -->