<div class="row">
    
   
    <div class="col-12">
       <table class="table">
           <thead>
               <tr>
                   <th>Redni broj</th>
                   <th>Korisnik</th>
                   <th>Datum dolaska</th>
                   <th>Datum odlaska</th>
                   <th>Akcija</th>

               </tr>
           </thead>
           <tbody>

               <tr ng-repeat="r in srctrl.sveRezervacije">
                
                   <td>{{$index+1}}.</td>
                   <td>{{r["korisnici_id"]}}</td>
                   <td>{{r["datumDolaska"]}}</td>
                   <td>{{r["datumOdlaska"]}}</td>
                   <td><button class="btn btn-danger" ng-click="rctrl.ukloniRezervaciju(s['id'])">Otkazi</button></td>
               </tr>
           </tbody>
       </table>
   </div>
</div>